
  @import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


*{
    font-family: 'Mulish', sans-serif;
    margin: 8px;
    padding: 8px;
}

/* header section */

.Header {
    display: flex;
    justify-content: space-between;
    
}

.Header1 {
    display: flex;
    gap: 2rem;
}
.Header1 img {
    width: 3rem;
    height: 3.5005rem;
}
.Header1 h2 {
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
}
.header1-h2-part {
    color: #FF5400;
}

.Header-2 {
    display: flex;
    gap: 2.75rem;
    
}
.dot-button {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    top: 2.3rem;
    right: 1rem;
}
.dot-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px
}

.Header-2 a {
    color:  #424247;
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 400;
}

.Header-2 .a-home {
    color: #FF5400;
}

/* Main part start */

/* banner section */

.Banner1-main {
    width: 73.125rem;
    height: 31.25rem;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00)), url(./Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    align-items: center;
    text-align: center;
    border-radius: 1rem;
    background-position: center;
}

.Banner1-main h2 {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    line-height: normal;
    margin-top: 80px;
}

.Banner1-main p {
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 35px;
    margin-bottom: 35px;
}
.banner-input {
    background: rgba(255, 255, 255, 0.30);
    border-radius: 0.5rem;
    display: inline-flex;
    padding: 1rem;
    align-items: flex-start;
    gap: 1.2rem;
    padding: 5px;
    
}

.input {
    width: 10.875rem;
    height: 3.25rem;
    padding-left: 40px;
    border-radius: 0.5rem;
    background: #FFF;
    border: none;
}

#input {
    width: 10.875rem;
    height: 3.25rem;
    border-radius: 0.5rem;
    background: #FFF;
    border: none;
}

.btn-find {
    display: flex;
    align-items: center;
}

.btn-find-now {
    width: 10.875rem;
    height: 3.25rem;
    border-radius: 0.5rem;
    background: #FF5400;
    font-weight: 700;
    color: #FFF;
    text-align: center;
    display: flex;
    align-items: center;
    margin: auto;
    border: none;

}

.find-btn-img {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    margin: 20px;
}

/* main part 2 */

.button-primary {
    width: 10.875rem;
    height: 3.25rem;
    border-radius: 0.5rem;
    background: #FF5400;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
}

.section-2 {
    display: flex;
    margin-top: 20px;
    gap: 1rem;
    margin-left: 0;
}

.left-section-2 {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
}

.left-section-2 h2 {
    color: #131318;
    font-size: 2.2rem;
    font-weight: 800;

}

.left-section-2 ul li {
    margin-left: 2.1rem;
}

/* section 3 start */
.section-3 {

}
.section3-div1 {
    text-align: center;
}
.section3-div1 h2 {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}
.section3-div1 p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2rem;
    margin-left: 110px;
    margin-right: 110px;
}
.section3-div2{
    display: flex;
    text-align: center;
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 800;
}
.section3-div2 .div-2-img-1 h4 {
    margin-top: 135px;
}

.section3-div2 .div-2-img-1 {
    border-radius: 1rem;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(./Images/Rectangle\ 5.png), lightgray 50%;
    background-repeat: no-repeat;
    width: 35.8125rem;
    height: 18.75rem;
   padding: 0;
}
.section3-div2 .div-2-img-2 h4 {
    margin-top: 125px;
}
.section3-div2 .div-2-img-2 {
    border-radius: 1rem;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(./Images/Rectangle\ 8.png), lightgray 50%;
    background-repeat: no-repeat;
    padding: 0;
    width: 35.8125rem;
    height: 18.75rem;
    
}


.section3-div3{
    display: flex;
    display: flex;
    text-align: center;
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 800;
}
.section3-div3 .div-3-img-1 h4 {
    margin-top: 125px;
}

.section3-div3 .div-3-img-1 {
    border-radius: 1rem;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(./Images/Rectangle\ 6.png), lightgray 50%;
    background-repeat: no-repeat;
    padding: 0;
    width: 23.375rem;
    height: 17.875rem;
}
.section3-div3 .div-3-img-2 h4 {
    margin-top: 125px;
}
.section3-div3 .div-3-img-2{
    border-radius: 1rem;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(./Images/Rectangle\ 7.png), lightgray 50%;
    background-repeat: no-repeat;
    padding: 0;
    width: 29.625rem;
    height: 17.875rem;
}
.section3-div3 .div-3-img-3 h4 {
    margin-top: 125px;
}
.section3-div3 .div-3-img-3{
    border-radius: 1rem;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(./Images/Rectangle\ 9.png), lightgray 50%;
    background-repeat: no-repeat;
    padding: 0;
    width: 17.125rem;
height: 17.875rem;
}

.section3-div4 {
    display: flex;
    display: flex;
    text-align: center;
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 800;
}
.section3-div4 .div-4-img-1 h4 {
    margin-top: 120px;
}
.section3-div4 .div-4-img-1 {
    border-radius: 1rem;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(./Images/Rectangle\ 11.png), lightgray 50%;
    background-repeat: no-repeat;
    padding: 0;
    width: 29.5625rem;
height: 18.75rem;
}
.section3-div4 .div-4-img-2 h4 {
    margin-top: 120px;
}
.section3-div4 .div-4-img-2 {
    border-radius: 1rem;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(./Images/Rectangle\ 10.png), lightgray 50%;
    background-repeat: no-repeat;
    padding: 0;
    width: 42.0625rem;
height: 18.75rem;
}
/* card section */
.Choose-Us-titel {
    text-align: center;
}
.Choose-Us-titel h1 {
    color: #131318;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
}
.Choose-Us-titel p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
}
.card-one-items {
    display: flex;
}
.card-items1 {
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}
.card-items1 img {
    width: 64px;
    height: 64px;
}
.card-items1 h2 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    line-height: normal;
}
.card-items2 {
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.card-items2 img {
    width: 64px;
    height: 64px;
}
.card-items2 h2 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    line-height: normal;
}
.card-items3 {
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    margin: auto;
}
.card-items3 img {
    width: 64px;
    height: 64px;
}
.card-items3 h2 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    line-height: normal;
}

/* discount part start */
.discount-header h2 {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.discount-header p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    margin: auto;
}

/* discount section */
.satorini-2{
    margin: 0px 0px;
}
.title {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;

}
.description {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}
.author-text a {
    text-decoration: none;
    align-items: center;

}



.satorini-2 .author-text {
    position: absolute;
    top: 14%;
    left: 5%;
    width: 50%;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    padding: 3rem;
}
.satorini-img {
    position: relative;
}
.satorini-img img {
    height: 100%;
}

.author-text {
    position: absolute;
    top: 14%;
    right: 5%;
    width: 50%;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    padding: 3rem;
}
.author-text a > i{
    color: var(--fourty-color);
}
.author-text .price{
    color: var(--fourty-color);
}
.Low-button5 {
    border-radius: 8px;
    background: #FF5400;
    width: 210px;
    height: 52px;
    border: none;
    color: #FFF;
    
    margin: auto;
}
.Low-button5 button {
    text-align: center;
    font-size: 20px;
    font-weight: 800;
}







/* Latter part */
.Letter {
    display: flex;
}

.letter11 {
    /* width: 1200px;
    height: 500px; */
    background-color: #FFF;
    border-radius: 16px;
    border: 1px solid #FF5400;
    margin: auto;
    padding: 10px;
}
.letter11 h3 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}
.letter11 p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.letter11 .button1 {
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
    text-align: left;
}
.letter11 .button-2 {
    border-radius: 8px;
    background: #FF5400;
    width: 393px;
    height: 52px;
    border: none;
    color: #FFF;
}
/* .he333 {
    position: relative;
    margin: 70px;
} */

.letter-img {
    /* width: 672px;
    height: 422px; */
}

.letter-img img {
    position: relative;
}

.letter-img button {
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    border-radius: 16px;
    background: #FF5400;
    border: none;
    transform: rotate(-30.628deg);
    position: relative;
    bottom: 35%;
    left: 55%;

}

.saving {
    color: #FFF;
    font-size: 32px;
    font-weight: 800;
}















/* footer section */
footer {
    background: rgba(19, 19, 24, 0.05);
    margin-top: 15px;
    margin-bottom: 0;
    line-height: 1rem;
}

.footer-section1 {

    display: flex;
    align-items: center;
    margin-left: 400px;
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;

}


.footer-section1 span {
    color: #FF5400;
}

.footer-section2 {
   
}

.footer-section2 p {
    color: #5A5A5D;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;

}

.footer-section2 img {
    padding-top: 1.5rem;
    align-items: center;
    margin-left: 500px;
}

hr {
    width: 54.5rem;
    height: 0.0625rem;
    background: rgba(19, 19, 24, 0.10);
    margin: auto;
    margin-top: 2rem;
    padding: 0;
}

footer h5 {
    color: #131318;
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    padding-top: 2rem;

}





/* respponsive media quaries */
/* mobile Devices */
@media screen and (max-width: 600px) {
    *{
        margin: 3px;
        padding: 3px;
    }
    .dot-button {
        display: flex;
    }
    .Header-2 {
        display: none;
    }

    .Banner1-main {
        width: 100%;
        margin: 10px;
        padding: 10px;
        margin-right: 10px;
    }

    .banner-input {
        flex-direction: column;
        align-items: center;
        width: 17.9375rem;
        margin: 2px;
        padding: 2px;
        gap: 1rem;
    }
    .Banner1-main h2 {
        font-size: 1.375rem;
        margin-top: 30px;
    }
    .Banner1-main p {
        font-size: 0.875rem;
        margin: 5px;
        padding: 5px;
    }

    .section-2 {
        flex-direction: column;
    }
    .section2-img img {
        width: 100%;
    }
    .section3-div1 h2 {
        font-size: 30px;
    }
    .section3-div1 p {
        margin: 5px;
    }
    .section-3 {
        flex-direction: column;
    }
    .section3-div2 {
        flex-direction: column;
    }
    .section3-div3 {
        flex-direction: column;
    }
    .section3-div4 {
        flex-direction: column;
    }
    .section3-div2 .div-2-img-1 {
        width: 100%;
    }
    .section3-div2 .div-2-img-2 {
        width: 100%;
    }
    .section3-div3 .div-3-img-1 {
        padding: 0;
        margin: 0;
        margin-left: 30px;
        
    }
    .section3-div3 .div-3-img-2, .section3-div4 .div-4-img-1, .section3-div4 .div-4-img-2 {
        width: 100%;
    }
    .section3-div3 .div-3-img-3 {
        adding: 0;
        margin: 0;
        margin-left: 70px;
    }
    .Choose-Us-titel {
        flex-direction: column;
    }
    .card-one-items {
        flex-direction: column;
    }
    .card-items1, .card-items2, .card-items3 {
        flex-direction: column;
        width: 100%;
    }
    .footer-section1 {
        margin-left: 50px;
        font-size: 21.543px;
    }
    .footer-section2 img {
        margin-left: 150px;
    }
    hr {
        width: 70%;
    }
    .satorini-img img {
        width: 100%;
    }
    .discout {
        display: none;
    }
    .Letter {
        flex-direction: column;
    }

    .letter-img img {
        width: 100%;
    }
    .letter-img button {
        display: none;
    }


/* tab or medium devices */
@media screen and (min-width: 600px) and (max-width: 992px) {
    
    .Banner1-main {
        width: 100%;
        margin: 10px;
        padding: 10px;
    }

    .banner-input {
        flex-direction: column;
        align-items: center;
        width: 17.9375rem;
        margin: 2px;
        padding: 2px;
        gap: 1rem;
    }
    .Banner1-main h2 {
        font-size: 1.375rem;
        margin-top: 30px;
    }
    .Banner1-main p {
        font-size: 0.875rem;
        margin: 5px;
        padding: 5px;
    }
}